Flask==3.0.2
gunicorn==21.2.0
Jinja2==3.1.2
MarkupSafe==2.1.5
Werkzeug==3.0.1
click==8.1.6
blinker==1.7.0
itsdangerous==2.1.2
python-dotenv==1.0.1
requests==2.31.0

psycopg2-binary==2.9.9
SQLAlchemy==2.0.29
Flask-SQLAlchemy==3.1.1